/*  INDEX */
*
{
	margin: 0;
	padding: 0;
}

header {
 position: relative;
 top: 0px;
 bottom: 0px;
 background-image: url(eder.jpg);
 height: 750px;
 background-size: cover;
 background-position: center;
 text-align: center;
 background-repeat: no-repeat;
 background-attachment: scroll;
 margin-bottom: -5%;
}

h1 > a {
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 100px;
	position: relative;
	right: -357px;
	top: 90px;
	text-decoration: none;
}

h2 > a {
	color: white;
	font-size: 50px;
	position: relative;
	top: 450px;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
}

.menu > ul
{
	float: left;
	list-style: none;
}

.menu > ul li
{
	display: inline-table;
}

.menu > ul li a
{
	color: white;
	background-color: black;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	padding: 20px 30px;
	position: relative;
	left: 310px;
	top: -650px;
}

.menu > ul li.active a{
	border: 2px solid white;
}

.postIndex {
	position: relative;
	bottom: 215px;
	left: 48px;
	padding: -160px;

}

/* REGISTER */
.register
{
	background-image: url(handshake.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position:top;
	background-attachment: scroll;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	position: fixed;
	color: black;
}

.register h1
{
	color: white;
	text-align: center;
	font-size: 500%;
}

.register form
{
	text-align: center;
	margin-top: 14%;
	font-size: 130%;
	color: black;

}

.register input[type="submit"]
{
	background-color: yellow;
	width: 10%;
	text-align: center;
	margin-top: 2%;
}

.returnRegister
{
	align-items: center;
	position: relative;
	margin-left: 62%;
	top: 420px;
}

footer
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 740px;
	bottom: 0px;
	background-color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: white;
}

/* LOGIN */
.login
{
	position: absolute;
	background-image: url(who2.jpg);
	height: 100%;
	width: 100%;
	vertical-align : top;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.login h1
{
	color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 50px;
	position:fixed;
	left: 1020px;
	top: 10px;
}

.login h2
{
	color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
	position:fixed;
	left: 880px;
	top: 80px;
}

.login input[type=text] {
 position: fixed;
 top: 130px;
 left: 1000px;
}

.login input[type=password] {
 position: fixed;
 top: 160px;
 left: 1000px;
}

.login input[type="submit"]
{
	background-color: yellow;
	position: fixed;
	top: 190px;
	left: 1002.5px;
	width: 10%;
}

 .postButton [type="submit"]
{
	background-color: yellow;
	color: black;
	position: fixed;
	top: 590px;
	left: 800px;
	width: 15%;
	height : 10%;
}

.returnLogin
{
	align-items: center;
	position: relative;
	margin-left: 55.8%;
	top: 230px;
}


/* PROFILE */
 .profile
 {
	background-image: url(a.png);
	height: 800px;
	width: 100%;
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	position: absolute;
	color: white;
	font-size: 20px;
	text-align: center;
}

.profile h1
{
	top: 85px;
	position: relative;
	left: -200px;
	font-size: 120px;
	margin-left: 10%
}

.profile h2
{
	top: 60px;
	position: relative;
	left: -215px;
	font-size: 80px;
	margin-left: 10%
}

.profile form
{
	align-items: center;
	margin-left: -15%;
	margin-top: 5%;
}

.profile label
{
	cursor: pointer;
}


.profile input[type="submit"]
{
	width: 10%;
	height: 10%;
	background-color: yellow;
}

.returnProfile
{
	position: relative;
	margin-left: 65%;
	top: 600px;
}


/* ABOUT */

.about
{
	position: absolute;
	background-image: url(room.png);
	background-size: cover;
	height: 100%;
		width: 100%;

}

.about h1
{
	text-align: center;
	color: black;
	font-size: 200%;
	margin-top: 41%;
	margin-right: 3%;
}

.returnAbout
{
	align-items: center;
	position: relative;
	margin-left: 45%;
	top: 20px;
}

/* #posts

#posts > article >header > h1 > a
{
	font-size: 30px;
	/*right: 10em;
	text-align: center;
}
{
	display: grid;

	grid-template-columns: 100%;
	grid-template-rows: 10%;
	grid-gap: 10px;
}

#posts > article
{
	padding-left: 10%;
}


 #post > article >header > h1 > a
{
	font-size: 30px;
	right: 10em;
	text-align: center;
}
*/

/*Single post (post.html/php)*/
.postItself
{
	position: absolute;
	background-image: url(tactics2.png);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.postItself h1
{
	font-size: 300%;
	color: white;
	margin-top: 3%;
	margin-left: 45%;
}

.postItself form
{
	font-size: 200%;
	text-align: left;
	margin-top: 5%;
	color: white;
	margin-left: 60%;
}

.postItself input[type="text"]
{

	align-items: left;
	margin-left: auto;
	margin-right: auto;
	/*color: white;*/
	width: 20%;
	position: fixed;
	text-align: left;
}

.postItself input[type="textarea"]
{

	align-items: left;
	margin-left: auto;
	margin-right: auto;
	color: white;
	width: 20%;
	position: fixed;
	text-align: left;
}

.postItself input[type="submit"]
{
	background-color: yellow;
}

.returnPostItself
{
	align-items: center;
	position: relative;
	margin-left: 67.5%;
	top: 530px;
}

/*POSTS*/
.posts {
	display: grid;
	grid-auto-rows: auto;
}

.postPage
{
	display:grid;
	grid-auto-rows: auto;
}

.posts {
	margin: 0;
	padding: 0;
	background-color: grey;
	border-bottom: solid #5f99cf;
	border-width: thin;
	position: relative;
	align-items: center;
}

.profileInPosts
{
	margin-top: -18%;
}

.profileInPosts ul li{
		align-items: flex-end;
		background-color: blue;
		float: right;
}


.profileInPosts ul li a{
		align-items: flex-end;
		color: white;
		background-color: blue;
}

.logo{
	  margin-left: auto;
    margin-right: auto;
}

.posts2 ul li a
{
	color: white;
	font-size: 130%;
}

nav
{
	background-image: url(pt.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	border-bottom: solid;
	border-color: black;
	border-width:thick;
}

nav ul
{
	background-color: #333333;
	margin: 0;
	list-style: none;
	display: block;
	}

nav ul li{
	background-color: #333333;
	float: left;
	padding: 16px;
	display: block;
	display: inline-table;
	border-right: solid black;
	border-top: solid black;
	border-bottom: solid black;
}

.submitButton
{
	background-color: black;
	color: white;
	width: 20%;
	border: solid blue;
	margin-left: 70%;
	margin-top: 20%;
}

/* .backgroundTactics{
	background-image: url(tactics.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
} */

.postPage
{
	margin-left: 10%;
	margin-right: 70%;
	display: grid;
	grid-auto-rows: 100%;
	background-color: grey;
	z-index: 1;
}

.post-number {
	margin-top: 2px;
	font-size: 30px;
	text-align: left;
	color: blue;
}

/* .ball{
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.up{
	transform: rotate(-135deg);
}

.down
{
	transform: rotate(45deg);
} */

.post-body
{
	margin-left: 20px;
	margin-top: 20px;
}

.post-title
{
	font-size: 22px;
	margin-top: -10px;
}

.submitter
{
	color: white;
	margin-top: 20%;
}
