header {
  text-align: center;
  background-color: blue;
  color: white;
}


h1 > a {
  color: white;
}

h2 > a {
  color: white;
}

#signup > a
{
  text-align: justify;
  background-color: white;
  color: black;
}
