/*  INDEX */
*
{
	margin: 0;
	padding: 0;
}

.menu h1 > a {

	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 100px;
	position: relative;
	text-decoration: none;
}

.menu
{
	margin: auto auto;
	position: absolute;
	background-image: url(eder.jpg);
  height: 100%;
	width: 100%;
	top: 0%;
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;

}


.menu h1 {
	margin-left: 52%;
	margin-top: 7%;
	color: white;
	font-family: "Times New Roman", Times, serif;
	font-size: 100px;
	position: absolute;
	text-decoration: none;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.menu h2  {
	margin-left: 38%;
	margin-top: 29%;
	color: white;
	font-size: 50px;
	position: absolute;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.menu h2 > a {
	color: white;
	font-size: 50px;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	text-decoration: none;
}

.menu > ul
{
	top: 2%;
	left: 20%;
	position: relative;
	float: left;
	list-style: none;
	opacity: .9;
}

.menu > ul li
{
	top: 2%;
	position: relative;
	display: inline-table;
}

.menu > ul li a
{
	top: 2%;
	position: relative;
	color: white;
	background-color: black;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	padding: 20px 30px;
}

.menu > ul li a:hover {
	background-color: green;
}

.menu > ul li.active a{
	border: 2px solid white;
}


.postIndex {
	margin:auto auto;
	position: relative;
	margin-top: 32%;
	margin-left: 29%;
	/*padding: -160px;*/

}

 .postButton [type="submit"]
{
	background-color: yellow;
	color: black;
	position: fixed;
	top: 75%;
	right: 40%;
	width: 15%;
	height : 10%;
}


.sideBar > ul
{
	top: 0%;
	right: 0%;
	align-items: right;
	position: absolute;
	float: right;
	list-style: none;
}

.sideBar > ul li
{
	opacity: .9;
}

.sideBar > ul li a
{
	display: block;
	color: white;
	background-color: black;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	padding: 20px 30px;
}

.sideBar > ul li a:hover {
	background-color: green;
}

.sideBar > ul li.active a{
	border: 2px solid white;
	display: block;
}

.sideBar > ul li ul li
{
	display: none;
}

.sideBar > ul li:hover ul li
{
	display: block;
}


/* REGISTER */
.register
{
	background-image: url(handshake.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position:top;
	background-attachment: scroll;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	position: fixed;
	color: black;
}

.register h1
{
	color: white;
	text-align: center;
	font-size: 500%;
}

.register form
{
	text-align: center;
	margin-top: 16%;
	font-size: 130%;
	color: black;

}

.register input[type="submit"]
{
	background-color: yellow;
	width: 10%;
	text-align: center;
	margin-top: 2%;
}

.returnRegister
{
	align-items: center;
	position: relative;
	margin-left: 62%;
	top: 402px;
}

footer
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 740px;
	bottom: 0px;
	background-color: black;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color: white;
}

/* LOGIN */
.login
{
	position: absolute;
	background-image: url(who2.jpg);
	height: 100%;
	width: 100%;
	vertical-align : top;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.login h1
{
	color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 50px;
	position:fixed;
	right: 20.5%;
	top: 3%;
}

.login h2
{
	color: white;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
	position:fixed;
	right: 10%;
	top: 10%;
}

.login input[type=text] {
 position: fixed;
 top: 15.5%;
 right: 18.5%;
}

.login input[type=password] {
 position: fixed;
 top: 20%;
 right: 18.5%;
}

.login input[type="submit"]
{
	background-color: yellow;
	position: fixed;
	top: 25%;
	left: 70.5%;
	width: 10%;
}



.returnLogin
{
	align-items: center;
	position: relative;
	margin-left: 90%;
	top: 630px;
}


/* PROFILE */
 .profile
 {
	background-image: url(a.png);
	height: 800px;
	width: 100%;
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	position: absolute;
	color: white;
	font-size: 20px;
	text-align: center;
}

.profile h1
{
	position: relative;
	top: 10%; 
	font-size: 120px;
	margin-left: -10%
}

.profile h2
{
	top: 10%;
	position: relative;
	left: -215px;
	font-size: 80px;
	margin-left: 10%
}

.profile form
{
	align-items: center;
	margin-left: -15%;
	margin-top: 5%;
}

.profile label
{
	cursor: pointer;
}


.profile input[type="submit"]
{
	width: 10%;
	height: 10%;
	background-color: yellow;
}

.profileError
{
	color: black;
}

.returnProfile
{
	position: relative;
	margin-left: 65%;
	top: 600px;
}


/* ABOUT */

.about
{
	position: absolute;
	background-image: url(room.png);
	background-size: cover;
	height: 100%;
	width: 100%;

}

.about h1
{
	text-align: center;
	color: black;
	font-size: 500%;
	margin-top: 42%;
	margin-right: 3%;
}

.returnAbout
{
	align-items: center;
	position: relative;
	margin-left: 45%;
	top: 7px;
}

/* #posts

#posts > article >header > h1 > a
{
	font-size: 30px;
	/*right: 10em;
	text-align: center;
}
{
	display: grid;

	grid-template-columns: 100%;
	grid-template-rows: 10%;
	grid-gap: 10px;
}

#posts > article
{
	padding-left: 10%;
}


 #post > article >header > h1 > a
{
	font-size: 30px;
	right: 10em;
	text-align: center;
}
*/

/*Single post (createPost.html/php)*/
.postItself
{
	position: absolute;
	background-image: url(tactics2.png);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.postItself h1
{
	font-size: 265%;
	color: white;
	margin-top: 4%;
	margin-left: 45%;
}

.postItself form
{
	font-size: 200%;
	text-align: left;
	margin-top: 5%;
	color: white;
	margin-left: 60%;
}

.postItself input[type="text"]
{

	align-items: left;
	margin-left: auto;
	margin-right: auto;
	/*color: white;*/
	width: 20%;
	position: fixed;
	text-align: left;
}

.postItself input[type="textarea"]
{

	align-items: left;
	margin-left: auto;
	margin-right: auto;
	color: white;
	width: 20%;
	position: fixed;
	text-align: left;
}

.postItself input[type="submit"]
{
	background-color: yellow;
}

.returnPostItself
{
	align-items: center;
	position: relative;
	margin-left: 67.5%;
	top: 530px;
}

/*POSTS*/
.postPage
{
	margin-top: 0%;
	display: grid;
	background-color: grey;
	z-index: 1;
	align-items: left;
}


.posts {
	display: grid;
	grid-auto-rows: auto;
	margin-top: 0%;
	margin-bottom: 0%;
	margin: 0;
	padding: 0;
	background-color: grey;
	border-bottom: solid #5f99cf;
	border-width: thin;
	position: relative;
	align-items: left;
	background-attachment: scroll;
}

.post
{
	margin-bottom: -1%;
	text-align: left;
	margin-bottom: 0%;
	background: url(korea.jpg);
	background-size: cover;
	border: 10px solid black;
	color: white;
}

.profileInPosts
{
	margin-top: -10%;
}

.profileInPosts ul li{
		align-items: flex-end;
		background-color: blue;
		float: right;
}


.profileInPosts ul li a{
		align-items: flex-end;
		color: white;
		background-color: blue;
}

.logo{
	  margin-left: auto;
    margin-right: auto;
}

.posts2 ul li a
{
	color: white;
	font-size: 130%;
}




#post
{
	background-image: url(stadium.jpg);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	position: relative;
	height: 290%;
	width: 30%;
	align-items: center;
}

#post h1
{
	top: 15%;
	font-size: 400%;
}

#post h1 a
{
	margin-top: 20%;
	text-align: center;
	color: white;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#post p
{
	font-size: 200%;
	margin-top: 27%;
	text-align: center;
	color: white;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.postPageMenu
{
	align-items: center;
	margin: auto auto;
	position: fixed;
	background-image: url(graffitti.jpg);
  height: 100%;
	width: 100%;
	top: 0%;
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat;
	background-attachment:fixed;
}


.postPageMenu > ul
{
	top: 2%;
	left: 0%;
	position: relative;
	float: left;
	list-style: none;
}

.postPageMenu > ul li
{
	top: 2%;
	position: relative;
	display: inline-table;
}

.postPageMenu > ul li a
{
	top: 2%;
	position: relative;
	color: white;
	background-color: black;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	padding: 20px 30px;
}

.postPageMenu > ul li.active a{
	border: 2px solid white;
}

#comments
{
	background-repeat: no-repeat;
	text-align: center;
	top: 50%;
	position: relative;
	width: 30%;
	margin-left: 35%;
	background-color: grey;
}

#comments .comment-votes {

	left: 0%;
	text-align: left;
}

#comments .commentText {
color: white;
font-size: 130%;
margin-top: 12.5%;
background-color: grey;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

#comments .commentUsername {
text-align: right;
color: white;
font-size: 150%;
margin-top: -35.5%;
margin-bottom: 0%;
background-color: black;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}

#commentText
{
	position: fixed;
	height: 20%;
	margin-left: 77%;
	margin-top: 5%;
}
 #submitComment
{
	position: fixed;
	background-color: green;
	color: white;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	height: 5%;
	width: 5%;
	margin-top: 10%;
	margin-left: 90%;
}

/**/

#sort
{
	position: fixed;
	right: 0%; 
	bottom: 78%;
	height: 5%; 
	background-color: black;
	color: yellow;
}

#sort select {
  background-color: white;
  position: fixed;
}

nav
{
	background-image: url(pt.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	border-bottom: solid;
	border-color: black;
	border-width:thick;
}

nav ul
{
	background-color: #333333;
	margin: 0;
	list-style: none;
	display: block;
	}

nav ul li{
	background-color: #333333;
	float: left;
	padding: 16px;
	display: block;
	display: inline-table;
	border-right: solid black;
	border-top: solid black;
	border-bottom: solid black;
}


.submitButton input[type="submit"]
{

	align-items: center;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	color: yellow;
	width: 100%;
	position: absolute;
	text-align: center;
	background-attachment: scroll;
}

.submitButton
{
		background-attachment: scroll;
	position: absolute;
	background-color: black;
	color: white;
	width: 20%;
	border: solid blue;
	margin-left: 70%;
	margin-top: 9%;
}

.post-number {
	margin-top: 2px;
	font-size: 100%;
	text-align: center;
	color: blue;
}

.post-votes
{
	text-align: left;
}

.post-body
{
	bottom: 2%;
	left: 0.5%;
	position: relative;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.post-title
{
	position: relative;
	font-size: 320%;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.submitter
{
	color: white;
	margin-top: 20%;
}


textarea
{
   resize: none;
}
